.adoption-readiness {
    padding: 20px;
    background-color: #f3f4f6;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img {
    max-height: 50px;
    margin-left: 0;
}

.adoption-readiness h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.adoption-readiness p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.readiness-questions,
.preparation-tips,
.adoption-benefits {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.readiness-questions h2,
.preparation-tips h2,
.adoption-benefits h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.readiness-questions ul,
.preparation-tips ul,
.adoption-benefits ul {
    list-style-type: disc;
    text-align: left;
    margin-left: 40px;
}

.readiness-questions ul li,
.preparation-tips ul li,
.adoption-benefits ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
    background-color: #dcf1f5;
    padding: 10px;
    border-radius: 5px;
}

.cta {
    margin-top: 30px;
    padding: 20px;
    /* background-color: #f5e342; */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cta h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

.cta p {
    font-size: 1.2em;
}

.cta a {
    text-decoration: none;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}